* {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
    border-radius: 7px;
    background-color: rgb(240, 242, 245);

}

body::-webkit-scrollbar:hover {
    width: 7px;
    border-radius: 7px;
    background-color: rgb(241, 243, 246);
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 7px;
}


/* HEADER WHERE THE LOGINS ARE  */

header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    z-index: 2;
    position: relative;

}

header img {
    width: 120px;
    height: auto;
    position: relative;
    left: 5%;
    top: 10px;
    float: left;
}

header input {
    font-size: small;
    font-weight: bold;
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 25px;
    padding-left: 30px;
    background-color: rgb(240, 240, 240);
    position: relative;
    left: 10%;
    top: 10px;
    float: left;

}

header button.AI {
    width: 170px;
    height: 35px;
    background-color: rgba(49, 79, 246, 0.2);
    color: black;
    font-size: small;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    float: right;
    position: relative;
    right: 7%;
    box-shadow: 0px 0px 0px 0px rgba(124, 124, 124, 0);
    top: 7.5px;
}

header button.AI img {
    width: 25px;
    left: 0px;
    top: 2px;
    float: none;
}

header button.AI span {
    position: relative;
    top: -5px;
}

header button.notice {
    border: 1px solid rgba(240, 240, 240, 0.3);
    float: right;
    background-color: rgba(255, 255, 255, 0);
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    right: 5%;
    border-radius: 5px;
    /* box-shadow: 0px 5px 10px 0px rgba(124, 124, 124, 0.1); */
}

header button i {
    font-size: xx-large;
}

header nav.container {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    float: right;
    position: relative;
    right: 3%;
    top: 5px;

}

header nav.container nav.image {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
    left: 2px;
    top: 1px;
}

header nav.container nav.image img {
    width: 90%;
    position: relative;
    left: 5%;
    top: 2px;
}

header nav.container nav.content {
    width: 80px;
    float: left;
    position: relative;
    top: -10px;
    left: 5px;

}

header nav.container nav.content h4 {
    font-size: small;
    font-weight: bold;
}

header nav.container nav.content h4 span {
    font-size: x-small;
    font-weight: normal;
    color: black;
    position: relative;
    top: -5px;

}

header nav.container button {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    width: auto;
    height: auto;
    float: left;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    position: relative;
    left: 3px;
    top: 10px;
}

header nav.container button i {
    font-size: small;
    font-weight: bold;
}





/* menu on the left hand side  */



div.menu {
    width: 250px;
    height: 700px;
    background-color: white;
    border: none;
    list-style: none;
    position: relative;
    top: 0px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(100, 100, 100, 0.2);
    border-radius: 5px;
    float: left;
}

div.menu li:first-child {
    margin-top: 50px;
}

div.menu li:last-child {
    margin-top: 70px;
}

div.menu li {
    width: 80%;
    position: relative;
    left: 20%;
    height: 45px;
    overflow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

div.menu li button {
    background-color: white;
    border: none;
    height: auto;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: small;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.6);
    transition: background-color 1s, color 1s, transform 3s;
}

div.menu li button i {
    font-size: medium;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

div.menu li.active button {
    background-color: rgb(49, 79, 246, 1);
    color: white;
}

div.menu li button:hover {
    background-color: rgb(49, 79, 246, 1);
    color: white;
}



/*      line body  */



div.body {
    width: 81%;
    height: 700px;
    /* border: 1px solid red; */
    overflow: hidden;
    float: left;
    /* background-color: rgba(250, 250, 250, 0.5); */


}

div.body h1 {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    left: 5%;
    margin-top: 10px;
    width: 50%;
    float: left;
}

div.body p {
    font-size: x-small;
    font-weight: normal;
    position: relative;
    left: 5%;
    top: -10px;
    width: 50%;
}

div.body button.add {
    float: right;
    font-size: small;
    font-weight: bold;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #314FF6;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    top: 20px;
    right: 5%;
}


/* 
line next */




div.about1 {
    width: 90%;
    height: 400px;
    position: relative;
    left: 5%;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    top: 100px;
}


div.about1 div.container{
    width: 90%;
    height: auto;
    overflow: hidden;
    position: relative;
    left: 5%;
}


div.about1 div.container div.image{
    width: 50%;
    height: 200px;
    position: relative;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
}
div.about1 div.container div.image img{
    width: 100%;
    margin: 0;
}

div.about1 div.container div.content{
    width: 70%;
    height: auto;
    position: relative;
    left: 15%;
    overflow: hidden;
    top: -50px;
}
div.about1 div.container div.content h3{
    font-size: large;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%
}
div.about1 div.container div.content p{
    width: 74%;
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    left: 13%;
}
div.about1 div.container div.content button{
    width: 50%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(49, 79, 246, 1);
    border-radius: 5px;
    font-size: small;
    font-weight: normal;
    color: #314FF6;
    position: relative;
    left: 25%;
    text-align: center;
    margin-left: 1%;
    transition: background-color 1s, color 1s, transform 5s;
    float: left;
}
div.about1 div.container div.content button:hover{
    background-color: #314FF6;
    color: white;
}